<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Header>

    </Header>
    <main>

    </main> -->
    <footer>
        <article id="credcards">
           <strong>Formas de Pagamento</strong>
            <div>
                <img class="icone" alt="cartao de crédito" src="../static/src/cartao1.jpg">
                <img class="icone" alt="cartao de débito" src="../static/src/cartao2.jpg">
                <img class="icone" alt="cartao de crédito" src="../static/src/talao.jpg">
                <img class="icone" alt="Boleto" src="../static/src/boleto.jpg">
                <img class="icone" alt="PayPal" src="../static/src/paypal.jpg">
            </div>
        </article>
        <section>
            <article id="televendas">
                <h2><strong> atendimento </strong></h2>
                <h2>
                1234-1234
                </h2>
                <p>
                    Para comprar ou tirar dúvidas sobre produtos e preços, é só ligar.</br>
                    Segunda à sexta, de 08:00 às 23:00 </br>
                    Sábados e feriados, de 08:00 às 21:00 </br>
                    Domingos de 09:00 às 20:00
                </p>
                
            </article>
            <article id=" atendimento">
                <h2><strong> televendas </strong></h2>
                <h2>
                    1234-1234
                </h2>
                <p>
                    Para clientes de televenda
                </p>
                
                <h2>
                    0800-1234-1234
                </h2>
                <p>
                    Para SP e Região
                </p>
                
            </article>
            <article id="atendimento2">
                <h2>
                    1234-1234
                </h2>
                <p>
                    Clientes das lojas Fiscais
                </p>
                <img src="../static/src/whatsappfaleconosco.jpg">
            </article>
            <article id="redesSociais">
                <strong> Redes Sociais </strong>
                <p>Acompanhe todas nossas ofertas</p>
                <img class="icone" src="../static/src/twitter.ico">
                <img class="icone" src="../static/src/facebook.ico">
                <img class="icone" src="../static/src/instagram.ico">
                <img class="icone" src="../static/src/Y.ico">
            </article>
        </section>
    </footer>
<!-- </body>
</html> -->