<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Header>

    </Header>
    <main>

    </main> -->
    <footer>
        <article id="credcards">
           <strong>Formas de Pagamento</strong>
            <div id="icones">
                <img src="" alt="">
                <img class="icone" alt="cartao de crédito" src="/img/icones/creditcard_payment.png">
                Débito e Crédito                
                <img class="icone" alt="Boleto" src="/img/icones/boleto.png">
                Boleto Bancário
                <img class="icone" alt="PayPal" src="/img/icones/paypal.png">
                PayPal
            </div>
        </article>
        <section>
            <article class="atendimento">
                <h2><strong> Atendimento </strong></h2>
                <h2>
                TEL: 1234-1234
                </h2>
                <p>Para comprar ou tirar dúvidas sobre produtos e preços, é só ligar.</p>
                <p>Segunda à sexta, de 08:00 às 23:00</p>
                <p>Sábados e feriados, de 08:00 às 21:00 </p>
                <p>Domingos de 09:00 às 20:00</p>
                
            </article>
            <article class="atendimento">
                <h2><strong> Televendas </strong></h2>
                <h2>
                    TEL: 1234-1234
                </h2>
                <p>
                    Para clientes de televenda
                </p>
                
                <h2>
                    0800-1234-1234
                </h2>
                <p>
                    Para SP e Região
                </p>
                
            </article>
            <!-- <article class="atendimento">
                <h2>Atendimento</h2>
                <h2>
                    1234-1234
                </h2>
                <p>
                    Para clientes das lojas físicas
                </p>
                <img id="lojafisica" src="/img/icones/lojafisica.png">
            </article> -->
            <article class="atendimento2">
                <strong> Redes Sociais </strong>
                <p>Acompanhe todas nossas ofertas</p>
                <img class="icone" src="/img/icones/twitter.png">
                <img class="icone" src="/img/icones/facebook.png">
                <img class="icone" src="/img/icones/instagram.png">
                <img class="icone" src="/img/icones/whatsapp.png">
            </article>
        </section>
    </footer>
<!-- </body>
</html> -->