<header>
    <nav>
        <div id="headerSpaceTop">

        </div>
        <div id="headerTop">
            <img src="/img/Pig5Logo.png" alt="Logo Pig 5" id="headerLogo">
            <form action="" id="busca">
                <input type="text" placeholder="Buscar produtos...">
                <button type="submit" id="submit"><img src="/img/lupa.png" alt="" id="lupa"></button>
            </form>
            <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            </div>
        </div><br>
        <div id="headerBot">
            <ul>
                <li><img src="" alt=""> Todos <img src="" alt=""> </li>
                <li>Eletrônicos</li>
                <li>Eletrodomésticos</li>
                <li>Informática</li>
                <li>Tv e Vídeo</li>
                <li>Lançamento</li>
                <li><img src="" alt=""> Ofertas</li>
            </ul>
        </div>
    </nav>
    <div id="car">

    </div>
</header>