<header>
    <nav>
        
        <div id="headerTop" class="neonText">
            <img src="/img/Pig5Logo.png" alt="Logo Pig 5" id="headerLogo">
            <form action="" id="busca">
                <input type="text" placeholder="Buscar produtos...">
                <button type="submit" id="submit">Buscar</button>
                <!-- <img src="/img/lupa.png" alt="" id="lupa"> -->
            </form>
            <div>
                <img src="/img/iconesHeader/favoritos.png" alt="" style="width:40px; margin-right: 20px;">
                <img src="/img/iconesHeader/Sacola.png" alt="" style="width:40px;">
                
            <a id="neonText"> Login / Entrar</a>
            </div>
        </div><br>
        <div id="headerBot">
            <div id="linhaHeader"></div>
            <ul class="neonText">
                <li> Todos <img src="" alt=""> </li>
                <li>Eletrônicos</li>
                <li>Eletrodomésticos</li>
                <li>Informática</li>
                <li>Tv e Vídeo</li>
                <li>Lançamento</li>
                <li><img src="" alt=""> Ofertas</li>

            </ul>
            
        </div>
    </nav>
    <div id="car">

    </div>
</header>