<header>
    <nav>
        
        <div id="headerTop" class="neonText">
            <a href="/"><img src="/img/Pig5Logo.png" alt="Logo Pig 5" id="headerLogo"></a>
            <form action="" id="busca">
                <input type="text" placeholder="Buscar produtos...">
                <button type="submit" id="submit">Buscar</button>
                <!-- <img src="/img/lupa.png" alt="" id="lupa"> -->
            </form>
            <div>
                <img src="/img/iconesHeader/favoritos.png" alt="" style="width:40px; margin-right: 20px;">
                <a href="/carrinho"><img src="/img/iconesHeader/Sacola.png" alt="" style="width:40px; margin-right: 20px;"></a>
                
            <a> 
                <% if (typeof(logged_user) != "undefined") { %>
                    <a> <%= logged_user.nome %> </a>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a id="neonText" href="/login"> login/entrar</a>
                <% } %>
            </a>
            </div>
        </div><br>
        <div id="headerBot">
            <div id="linhaHeader"></div>
            <ul class="neonText">
                <li> Todos <img src="" alt=""> </li>
                <li>Eletrônicos</li>
                <li>Eletrodomésticos</li>
                <li>Informática</li>
                <li>Tv e Vídeo</li>
                <li>Lançamento</li>
                <li><img src="" alt=""> Ofertas</li>

            </ul>
            
        </div>
    </nav>
    <div id="car">

    </div>
</header>