<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/header.css" media="screen"> 
    <link rel="stylesheet" href="/css/footer.css" media="screen"> 
    <link rel="stylesheet" href="/css/estiloCarrinho.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <%- include("./partials/header") %>

    <div id="carrinhoContainer">
        <h2>compre também</h2>
        <div id="carrosselCarrinho">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- logica JS para inserir itens -->
        <form action="" id="pagamento">
            <!-- inicio do loop de cards de produto -->
            <article id="produtoCarrinho" class="metal">
                <img src="/img/produtos/Nokia-1100.jpg" alt="Produto" id="fotoProduto">
                <div id="descricaoCarrinho">
                    Dumbphone Nokia 1100 preto com lanterna e joguinho da cobrinha
                </div>
                <div id="quantidadeCarrinho">
                     <label for="quantidade">Quantidade</label> 
                    <select name="quantidade" id="quatidadeCarinhoSelect">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div id="precoItem">
                    Preço
                    R$ 100,00
                </div>
            </article>
            <article id="produtoCarrinho">
                <img src="/img/produtos/Nokia-1100.jpg" alt="Produto" id="fotoProduto">
                <div id="descricaoCarrinho">
                    Dumbphone Nokia 1100 preto com lanterna e joguinho da cobrinha
                </div>
                <div id="quantidadeCarrinho">
                     <label for="quantidade">Quantidade</label> 
                    <select name="quantidade" id="quatidadeCarinhoSelect">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div id="precoItem">
                    Preço
                    R$ 100,00
                </div>
            </article>
            <!-- fim do loop de produto -->
            <section id="frete">
                <label for="CEP">Calcular frete</label>
                <input type="number" name="CEP" id="cepCarrinho" placeholder="XXXXX-XXX">
                <div>Subtotal = R$ 100,00</div>
            </section>
            <br><section id="endereco">
                Revisão do Pedido

                Av. Afonso Pena, 3000 - Centro, Belo Horizonte - MG
            </section>
            <br><section id="cupom">
                
                
            </section>
            <br><label for="cartalCredito">Cartão de crédito</label>
            <input type="radio" name="cartaoCredito" id="cartaoCredito" style="border: none;">
                <!-- inicio cartao -->
                <div class="cc">
  
                    <h2>Seu Cartão de crédito</h2>
                    
                    <span class="provider mastercard">MasterCard</span>
                    <span class="provider amex">American Express</span>
                    <span class="provider visa">Visa</span>
                   
                    <!-- card number -->
                    <div class="number">
                      <input type="text" maxlength="4" placeholder="5280">
                      <input type="text" maxlength="4">
                      <input type="text" maxlength="4">
                      <input type="text" maxlength="4">
                      <span class="instructions">5280</span>
                    </div>
                  
                    <!-- valid / ccv -->
                    <div class="date">
                      <span class="instructions valid">Validade</span>
                      <input type="text" maxlength="5" placeholder="00/00">
                      
                      <span class="instructions valid">Código segurança</span>
                      <input type="text" maxlength="3" placeholder="123">  
                    </div>
                    
                    <!-- name on card -->
                    <div class="name">
                      <input class="full-name" type="text" maxlength="" inputmode='numeric' placeholder="John Doe">
                      <span class="instructions">Nome impresso</span>
                    </div>
                    
                    <!-- shine -->
                    <div class="shine"></div>
                    <div class="shine shine-layer-two"></div>
                  </div>
            <!-- fim cartao -->
            <section>
                <label for="Parcelamento">Parcelamento</label>
                <select name="parcelamento" id="parcelamento">
                    <option value="1">1X R$ 100,00 sem juros</option>
                    <option value="2">2X R$  50,00 sem juros</option>
                    <option value="3">3X R$  35,00 com juros</option>
                    <option value="4">4X R$  28,00 com juros</option>
                    <option value="5">5X R$  23,00 com juros</option>
                </select><br>
                <label for="cupom">insira o cupom de desconto</label>
                <input type="text" name="cupom"><br><br>
                <label for="salvarCartao">Salvar o cartão para compras futuras</label>
                <input type="checkbox" name="salvarCartao">
                
            </section>
            <button type="submit" id="pagar">Concluir Pedido</button>
            </div>
        </form>
    </div>

    <%- include("./partials/footer") %>
</body>
</html>