<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/produtos.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/flickity.css" media="screen"> 
    <link rel="stylesheet" href="/css/header.css" media="screen"> 
    <link rel="stylesheet" href="/css/footer.css" media="screen"> 
</head>
<body>
  <%- include("./partials/header") %>
  <main>
  <section class="filtros">
    <div>
      <h3> Eletronicos</h3>
      <div><strong>Categorias</strong></div>
      <br>
      <a href=""> iphone</a>
      <a href=""> Sansung</a>
      <a href=""> Motorola</a>
      <a href=""> LG</a>
      <a href=""> Xiaomi</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> Sansung</a>
      <a href=""> Motorola</a>
      <a href=""> LG</a>
      <a href=""> Xiaomi</a>
      <a href=""> iphone</a>
    </div>
    <div>
      <br>
      <div><strong>Marcas</strong></div>
      <br>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
    </div>
    <div>
      <br>
      <div><strong>Avaliações</strong></div>
      <br>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
      <a href=""> iphone</a>
    </div>
    <div class="Banner-lateral">
      <img src="/img/academia.jpg" alt="">
    </div>
  </section>
  <section class="principal">

    <section class="carousel" aria-label="Gallery">

      <div class="carousel" data-flickity>
        <div class="carousel-cell">
          <img src="./img/bannerprincipal.jpg" alt="">
        </div>
        <div class="carousel-cell">
          <img src="./img/banner2principal.jpg" alt="">
        </div>
        <div class="carousel-cell">
          <img src="./img/banner3principal.jpg" alt="">
        </div>
        <div class="carousel-cell">
          <img src="./img/banner4principal.jpg" alt="">
        </div>
        
    </section> 
   
    <section class="segundaSecao">
      <div class="cardSecaoDois">
          <img src="./img/foto_cueca.jpg" alt="">
          <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
          <br>
          <p><strike>De R$ 5.780,00</strike></p>
          <p>Por R$ 3.7680,00 à vista</p>
          <p> ou 10x de R$ 425,00</p>
          <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/celular.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/roupas.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/foto_cueca.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/celular.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/roupas.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/foto_cueca.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/celular.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/roupas.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/foto_cueca.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/celular.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>
      <div class="cardSecaoDois">
        <img src="./img/roupas.jpg" alt="">
        <p> <strong>11 Apple 64GB preto 6,1" 12 MP IOS </strong> </p>
        <br>
        <p><strike>De R$ 5.780,00</strike></p>
        <p>Por R$ 3.7680,00 à vista</p>
        <p> ou 10x de R$ 425,00</p>
        <a href="./produtos.html" class="vermais"> Ver mais</a>
      </div>

    </section>
  
    
  </section>
  </main>
  <%- include("./partials/footer") %>
  <!-- JavaScript -->
  <script src="/js/flickity.pkgd.min.js"></script>

</body>


</html>