<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/header.css" media="screen"> 
    <link rel="stylesheet" href="/css/footer.css" media="screen"> 
    <link rel="stylesheet" href="/css/produtoDetalhes.css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header") %>
    <!-- Inicio do Main -->
    <main>
        <div id="tipoProduto">
            SmartPhones
        </div>
        <div id="produto">
            <img id="imagemProduto" src= ".<%= p.url %>" alt="">
        </div>
        <div id="detalhes">
            <div id="preco">
               Preco: <%= Number(p.preco).toLocaleString('pt-br', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) %> <br>
                10% de desconto em 1x no cartao ou boleto.
            </div>
            <div id="comprar" class="neonText">
                <form action="/carrinho" method="post">
                    <input type="submit" name="upvote" value="Adicionar ao carrinho" />
                </form>
            </div>
        </div>
        <div id="fichaTecnica">
            <div id="texto">
            Modelo	1100
            </div>
        </div>
        <div id="Sessaocomentarios">
            <article id="comentarios">
                <img src="" alt="" id="avatarComentario">
                <div id="comentario">
                    4/5 ★☆☆☆☆<br>
                    Muito bom. ja comprei mais de 100 pelo preco.
                </div>
            </article>
        </div>
    </main>
    <!-- Fim do Main -->

    <%- include("./partials/footer") %>
</body>
</html>