
   body {
    /* max-width: 37.5rem; */
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* height: 100%; */
    margin: 0 auto;
    /* padding: 0 1.25rem; */
    /* font-family: 'Lato', sans-serif; */
    justify-content: space-evenly;
    font-size: 16px;

  }
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Adicionar CSS do Header pra baixo >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
  
  
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  FIM DO HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  /* Adcionar CSS do footer para baixo */
  
  #credcards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputPadrao{
    width: 150px;
    border: none;
    height: 30px;
    background-color: antiquewhite;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* <<<<<<<<<<<<<<<<<<<<<<<< Estilos do Cartao de credito >>>>>>>>>>>>>>>>>>>>>>>>>>> */
 #pagar{
  width: 210px;
  height: 80px;
  color:#ace4fa;
  background-color: #0e306e;
  font-size: x-large;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
 }
  #pagamento{
    margin-top: 50px;
    padding: 50px;
      width: 100%;
      /* background-color: blanchedalmond; */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
  }
  #carrinhoContainer{
    background-color: white;
      padding-top: 50px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      
      justify-content: center;
      align-items: center;
      
    }
    #produtoCarrinho{
      color: white;
      background-color:#174395 ;
        width: 50%;
        padding: 50px;
        border: none;
        border-radius: 25px;
        box-shadow: 8px 8px 12px cornflowerblue ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
        
    }
  
    #fotoProduto{
        background-color: #174395;
        border: 1 solid #174395 ;
        width: 100px;
        border-radius: 50px;
    }
    #descricaoCarrinho{
        width: 300px;
        font-size: large;
        
    }
    #quantidadeCarrinho{
        width: 200px;
       
    }
    #frete{
        width: 500px;
        /* background-color: blueviolet; */
    }
    #endereco{
        /* background-color: cornflowerblue; */
        width: 500px;
    }
    #cupom{
        /* background-color: darkgray; */
        width:300px;
    }
  #formaPagamentoContainer{
    font-size: x-large;
    background-color: brown;
    color: silver;
    border-radius: 15px;
    height: 250px;
    width: 500px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }
  #numeroCartao{
    margin-bottom: 20x;
    width: 80%;
    font-size: 40px;
    /* height: 2em; */
    color: silver;
    background-color: rgb(128, 20, 20);
    border: none;
    flex-grow: 1;
  }
  #nomeCartao{
    margin-top: 50px;
    width: 80%;
    font-size: x-large;
    /* height: 2em; */
    color: silver;
    background-color: rgb(128, 20, 20);
    border: none;
    flex-grow: 1;
  }
  
  #codSeguranca{
    margin-top: 50px;
    width: 15%;
    font-size: x-large;
    /* height: 2em; */
    color: silver;
    background-color: rgb(128, 20, 20);
    border: none;
    flex-grow: 1;
  }
  #parcelamento{
    margin: 25px;
  }
  #pagar{
    margin-top: 25px;
  }
  
 
  /* <<<<<<<<   css do cartao     >>>>>>>>>>> */
  @import url(https://fonts.googleapis.com/css?family=Anaheim);
  @import url(https://fonts.googleapis.com/css?family=Inconsolata);
  
  
  
  
  
  .cc {
    background: #174395;
    border-radius: 20px;
    height: 310px;
    margin: 50px;
    overflow: hidden;
    padding: 20px;
    position: relative;  
    width: 490px;   
  }
  
  .shine {
    background: rgba(255,255,255,0.05); 
    left: 390px; top: 0;
    margin: 0 15px 0 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
      -webkit-transform: skew(50deg);
      -moz-transform: skew(50deg);
      -ms-transform: skew(50deg);
      -o-transform: skew(50deg);
      transform: skew(50deg);
  }
  
  .shine-layer-two {
    -webkit-transform: skew(80deg);
    -moz-transform: skew(80deg);
    -ms-transform: skew(80deg);
    -o-transform: skew(80deg);
    transform: skew(80deg);
  }
  
  h2 {
    font: 22px Anaheim; color: #fff;
    margin: 0 10px 10 0;       padding:0;
    text-align: right;
  }
  
  span {
    text-transform: uppercase;
  }
  
  .number, 
  .date {
    margin-bottom: 10px;
  }
  
  .provider {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 71px; height: 44px;
  }
  
  .mastercard,
  .visa,
  .amex {
    background: url(http://pmullen.com/codepen/63JxOEI.png);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .amex { background-position: 71px 0; }
  .visa { background-position: 147px 0; }
  
   .number > input{ 
    background: #ececec; 
    border: 0;
    border-radius: 4px;
    font: 20px Inconsolata, sans-serif; color: #303030;
    margin: 0 2px 3px 0;
    padding: 8px 10px;
    text-align: center;
    width: 18%; 
      -moz-box-shadow:    1px 1px 0px 1px #0e306e;
      -webkit-box-shadow: 1px 1px 0px 1px #0e306e;
      box-shadow:         1px 1px 0px 1px #0e306e;
    position: relative;
    z-index: 10;
    
  }
  
  .date input {
    background: #ececec; 
    border: 0;
    border-radius: 4px;
    font: 20px Inconsolata, sans-serif; color: #303030;
    margin: 0 2px 3px 0;
    padding: 8px 10px;
    text-align: center;
    width: 18%; 
      -moz-box-shadow:    1px 1px 0px 1px #0e306e;
      -webkit-box-shadow: 1px 1px 0px 1px #0e306e;
      box-shadow:         1px 1px 0px 1px #0e306e;
    position: relative;
    z-index: 10;
    margin-right: space;
  }
  
  .valid {
    position: relative;
    margin-right: 10px;
    width: 40px;
  }
  
  .full-name {
    background: #ececec; 
    border: 0;
    border-radius: 4px;
    font: 20px Inconsolata, sans-serif; color: #303030;
    margin: 0 2px 3px 0;
    padding: 8px 10px;
    text-align: center;
    width: 18%; 
      -moz-box-shadow:    1px 1px 0px 1px #0e306e;
      -webkit-box-shadow: 1px 1px 0px 1px #0e306e;
      box-shadow:         1px 1px 0px 1px #0e306e;
    position: relative;
    z-index: 10;
    width: 90%;
    text-align: left;
  }
  
  .instructions {
    letter-spacing: 1px;
    font: 12px Anaheim, sans-serif; color: #ace4fa;
  }


  html
   {
     /* font-size: 1em !important; */
     /* color: #000 !important; */
     font-family: 'MontSerrat', sans-serif !important;
   }

  body {
    /* max-width: 37.5rem; */
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* height: 100%; */
    margin: 0 auto;
    /* padding: 0 1.25rem; */
    /* font-family: 'Lato', sans-serif; */
    justify-content: space-evenly;
    font-size: 16px;
    background: #eeeeee;

  }

  .carousel {
    background: #eeeeee;
    margin-bottom: 20px;
  }
  
  .carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #eeeeee;
    border-radius: 5px;
    /* counter-increment: gallery-cell; */
    
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  
  .carousel-cell img{
    width: 100%;
    height: 100%;
    
  }
  
  
  p{
    align-self: flex-start;
    margin-left: 20px;
  }

  .divisaoSecao{
    margin-left: 50px;
  }
  .segundaSecao{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* height: 40%;
      width: 100%; */
      justify-content: center;
  }

  .segundaSecao div{
      max-width: 280px ;
      max-height: 420px;
      /* width: 45%;
      height: 30%; */
      display: flex;
      flex-direction: column;
      align-content:flex-start;
      justify-content: space-between;
      align-items: flex-start;
      background: white;
      overflow: hidden;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 0 0 20px 8px #d0d0d0;
      margin: 10px 10px;
  }

  .deletePedido{
    align-items: center;
    align-self: center;
    margin-bottom: 15px;
  }
  .preco{
    font-size: 1.3rem;
    margin-left: 20px;
  }
  .descricaoProduto{
    margin-left: 20px;
    font-size: 0.8rem;
  }
  .frete{
    color: green;
    margin-left: 20px;
    font-size: 0.8rem;
  }
  .segundaSecao img{
      text-align: center;
      height: 67%;
      width: 100%;
      object-fit: cover;
      margin-bottom: 10px;
      
  }
.cardSecaoDois{
  text-align:right;
}
.terceiraSecao{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40%;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}   
.terceiraSecao div{
    max-width: 280px ;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: 10px 10px;
}
.precoAnterior{
  font-size: 0.5rem;
  margin-left: 20px;

}
.precoAtual{
  font-size: 0.8rem;
  margin-left: 20px;

}
.precoParcelado{
  font-size: 0.8rem;
  margin-left: 20px;
  margin-bottom: 5px;

}
.terceiraSecao img{
  text-align: center;
  height: 67%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
.quartaSecao{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 200px;
    width: 100%;
    /* width: 100%; */
    justify-content: space-between;
}   
.quartaSecao div{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.quartaSecao img{
    height: 100%;
    width: 100%;
    margin: auto;
}

.bottom{
    margin-bottom: 30px;
}

div p{
    margin: 0;

}

.fonteMenor{

    font-size: 12px;

}

.carrouselFlickity{
  display: flex;
  flex-direction: row;

}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel2 {
    background: #eeeeee;
  /* margin-top: 20px; */
  max-height: 450px;
  max-width: auto;
}

.carousel-cell2 {
  margin-bottom: 20px;
  height: 90%;
  width: 100%;
  /* max-height: 420px;
  max-width: 280px; */
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  /* width: 100%;
  height: 100%; */
  /* margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell; */
 
}

.carousel-cell2.is-selected {
  background: #ED2;
}

/* cell number */
/* .carousel-cell2:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.carousel-cell2-image {
  object-fit: cover;
  display: block;
  /* height: 100%; */
  margin: 0 auto;
  /* width: 100%; */
  opacity: 0;
  align-self: center;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell2-image.flickity-lazyloaded,
.carousel-cell2-image.flickity-lazyerror {
  opacity: 1;
}

.carousel-cell-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  max-height: 420px;
  /* height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-bottom: 10px; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  background:white;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  

}

.carousel-cell-container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  max-height: 300px;
  /* height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-bottom: 10px; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  background:white;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  /* margin-right: 10px; */
  margin-bottom: 10px;
  margin-top: 10px;
  

}


.carousel3 {
  background: #eeeeee;
/* margin-top: 20px; */
max-height: 450px;
max-width: auto;
}

.carousel-cell3 {
position: relative;
margin-top: -50px;

height: 90%;
width: 100%;
/* max-height: 420px;
max-width: 280px; */
overflow: hidden;
border-radius: 20px;
cursor: pointer;
/* width: 100%;
height: 100%; */
/* margin-right: 10px;
background: #8C8;
border-radius: 5px;
counter-increment: carousel-cell; */

}

.carousel-cell3.is-selected {
background: #ED2;
}

/* cell number */
/* .carousel-cell2:before {
display: block;
text-align: center;
content: counter(carousel-cell);
line-height: 200px;
font-size: 80px;
color: white;
} */

.carousel-cell3-image {
object-fit: cover;
display: block;
/* height: 100%; */
margin: 0 auto;
/* width: 100%; */
opacity: 0;
align-self: center;
-webkit-transition: opacity 0.4s;
        transition: opacity 0.4s;
}

.textoIcones{
  position:absolute;
  margin-top: 100px;
  margin-left: 95px;
}

button{
  border-radius: 15px 15px;
  background-color: blue;
  color: white;
  height: 40px;
  width: 120px;
  align-self:center;
  justify-content: first baseline;
  /* margin-top: -100px; */
}


/* @media only screen and (max-width: 768px) {
  .terceiraSecao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .terceiraSecao div{
    width: 100%;
    margin-bottom: 20px;
  }
  .fonteMenor{
    font-size: 16px;

  } 
} */
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: coral;}
a:hover, a:active { text-decoration: none; color: coral }
a { text-decoration: none; }
.vermais{
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
  /* border-color: black;
  border-style: solid; */
  border-width: 1px;
}
a.vermais:hover{
   text-decoration: none; color: coral;
}
a.vermais:visited { text-decoration: none; color:blue; }

.secaoFinalizacaoPagamento{
  display: flex;
  flex-direction: row;
}


/* card */



