html
{
  /* font-size: 1em !important; */
  /* color: #000 !important; */
  font-family: 'MontSerrat', sans-serif !important;
}

/* Adcionar CSS do footer para baixo */
footer{padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:rgb(50, 50, 50); */
    color:white;
    /* background-color: rgb(27,20,100); */
    background: rgb(27,20,100);
    background: -moz-linear-gradient(-45deg, rgb(27,20,100) 0%, rgba(65,103,168,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(27,20,100)), color-stop(100%, rgba(65,103,168,1)));
    background: -webkit-linear-gradient(-45deg, rgb(27,20,100) 0%, rgba(65,103,168,1) 100%);
    background: -o-linear-gradient(-45deg, rgb(27,20,100) 0%, rgba(65,103,168,1) 100%);
    background: -ms-linear-gradient(-45deg, rgb(27,20,100) 0%, rgba(65,103,168,1) 100%);
    background: linear-gradient(135deg, rgb(27,20,100) 0%, rgba(65,103,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 );
  }
  footer > section{
    width: 100%;
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  footer > section > article{
    width: 25%;
  }
  .atendimento{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }

  p{
    margin-left: 0px;
    margin-top: 10px;
  }
 
  #icones{
    margin-top: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    border: 5px double rgb(27,20,100);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-self: center;
  }
  .icone{
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  #credcards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }