/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Adicionar CSS do Header pra baixo >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
html *
{
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: 'Inter', sans-serif !important;
}

  /* #headerSpaceTop{
    background-color: darkgray;
    height: 30px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  } */
  
  #linhaHeader{
    height: 2px;
    background-color: blueviolet;
    width: 100%;
    
  
  }
  .neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
  }
  /* .neonText {
    font-size: x-large;
    color: blueviolet;
    text-shadow:
      0 0 7px blueviolet,
      0 0 10px blue,
      0 0 21px blueviolet,
      0 0 42px blue,
      0 0 82px blueviolet,
      0 0 92px blue,
      0 0 102px blueviolet,
      0 0 151px blue;
  } */
  
  header{
    width: 100%;
    padding-top: 30px;
    background-color: rgb(27,20,100);
  }

  
  header > nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #headerTop{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
  }
  #busca{
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    
  }
  
  #submit{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 0, 97);
    border: none;
    margin-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
    width: 30px;
    position: relative;
    right: 50px;
  }
  #headerLogo{
    height: 150px;
  }
  #headerTop > form > input{
    width: 450px;
    height: 30px;
    color: white;
    font-size: x-large;
    background-color: rgb(50, 0, 97);
    padding-left: 10px;
    margin-right: none;
    border-radius: 10px;
  }
 
  .neon{
    color: white;
    box-shadow: 0 0 10 blueviolet;
  }
  #headerBot{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  }
  header > nav >div > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  }
  
  header > nav >div > ul > li{
    list-style: none;
    
  
  }
  
/* consertar aki */
  #headerSpaceTop{
    background-color: darkgray;
    height: 30px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  header > nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #headerTop{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  
  }
  #busca{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  
  #submit{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  #headerLogo{
    height: 150px;
  }
  #headerTop > form > input{
    width: 400px;
    height: 50px;
    border-right: none;
    margin-right: none;
  }
 
  #headerBot{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  }
  header > nav >div > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  }
  
  header > nav >div > ul > li{
    list-style: none;
    
  
  }
  