/* @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
   */
  body {
    /* max-width: 37.5rem; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: 100%; */
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
    justify-content: space-evenly;
    font-size: 16px;

  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    /* position: relative; */
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height:340px;
    padding-top: 200px;
    margin-bottom: 20px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-image: url('../img/1628145305584-home-sliderdesktop.webp')
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position:absolute;
    top: 0;
    margin-top: 150px;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  li img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }


  .segundaSecao{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* height: 40%;
      width: 100%; */
      justify-content: space-between;
  }

  .segundaSecao div{
      max-width: 280px ;
      max-height: 420px;
      /* width: 45%;
      height: 30%; */
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      background: #f2f2f2;
      overflow: hidden;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 0 0 20px 8px #d0d0d0;
      margin: 10px 10px;
  }
  .segundaSecao img{
      text-align: center;
      height: 100%;
      width: 100%;
      object-fit: cover;
      
  }

  .terceiraSecao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}   
.terceiraSecao div{
    max-width: 280px ;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: 10px 10px;
}
  .terceiraSecao img{
    text-align: center;
    height: 100%;
    width: 100%;
}
.quartaSecao{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 200px;
    width: 100%;
    /* width: 100%; */
    justify-content: space-between;
}   
.quartaSecao div{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.quartaSecao img{
    height: 100%;
    width: 100%;
    margin: auto;
}

.bottom{
    margin-bottom: 30px;
}

div p{
    margin: 0;

}

.fonteMenor{

    font-size: 12px;

}

.carrouselFlickity{
  display: flex;
  flex-direction: row;

}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel2 {
  background:  #FAFAFA;
  /* margin-top: 20px; */
}

.carousel-cell2 {
  max-height: 420px;
  max-width: 280px;
  /* width: 100%;
  height: 100%; */
  /* margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell; */
 
}

.carousel-cell2.is-selected {
  background: #ED2;
}

/* cell number */
/* .carousel-cell2:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.carousel-cell2-image {
  object-fit: cover;
  display: block;
  /* height: 100%; */
  margin: 0 auto;
  /* width: 100%; */
  opacity: 0;
  align-self: center;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell2-image.flickity-lazyloaded,
.carousel-cell2-image.flickity-lazyerror {
  opacity: 1;
}

.carousel-cell-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  /* height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-bottom: 10px; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  

}

button{
  border-radius: 15px 15px;
  background-color: blue;
  color: white;
  height: 40px;
  width: 120px;
  align-self:center;
  justify-content: first baseline;
  /* margin-top: -100px; */
}


@media only screen and (max-width: 768px) {
  .segundaSecao{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .segundaSecao div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .terceiraSecao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .terceiraSecao div{
    width: 100%;
    margin-bottom: 20px;
  }
  .fonteMenor{
    font-size: 16px;

  } 
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: coral;}
a:hover, a:active { text-decoration: none; color: coral }
a { text-decoration: none; }
.vermais{
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

/* card */



