*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html
{
  /* font-size: 1em !important; */
  /* color: #000 !important; */
  font-family: 'MontSerrat', sans-serif !important;
}



.sign-in {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.margem{
    margin-right: 40px;
}
  
.title {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.group {
    position: relative;
    margin: 45px 0;
}
.form-input {
    background: none;
    background-color: white;
    /* color: ; */
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid ;
    margin: 25px 0;

}
  
input[type='password'] {
    letter-spacing: 0.3em;
    transition: 0ms;
}

.form-input-label {
    /* color:; */
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 1ms ease all;

}

.buttons {
    display: flex;
    justify-content: space-between;
  }

.custom-button {
min-width: 165px;
width: auto;
height: 50px;
letter-spacing: 0.5px;
line-height: 50px;
padding: 0 35px 0 35px;
font-size: 15px;
background-color: rgb(27,20,100);
color: white;
text-transform: uppercase;
font-weight: bolder;
border: none;
cursor: pointer;

}

.custom-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.google-sign-in {
    background-color: #4285f4;
    color: white;
}

.google-sign-in :hover {
    background-color: #357ae8;
    border: none;
    }

.secao-login{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

section h1{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.rede-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    align-items: baseline;

}

.rede-social div{
    margin-right: 20px;
}

.botao-rede-social-facebook{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: auto;
    width: auto;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color:#4267B2;
    border: 1px solid #4267B2;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;


}

.botao-rede-social-google{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: auto;
    width: auto;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color:#dd4b39;
    border: 1px solid #dd4b39;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;


}


.facebook{
    margin-right: 40px;
}

.rodape{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}